<!DOCTYPE html>
		<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	</head>
	<body>
		<h1>Formulario como tabla</h1>
		<form action="{% url 'grabar_datos' %}" method="post">
			{% csrf_token %}
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nombre</th>
						<th scope="col">Apellido</th>
                        <th scope="col">Valor a ingresar</th>
					</tr>
				</thead>
				{% for alumno in alumnos %}
					<tbody>
						<tr>
							<td>{{ alumno.id }}</td>
							<td>{{ alumno.nombre }}</td>
                            <td>{{ alumno.apellido }}</td>
							<td><input type="text" name="{{alumno.id}}" value="{% if alumno.nota is not None %} {{alumno.nota}} {% endif %}"></td>
						</tr>
					</tbody>				
					
				{% endfor %}
			</table>
			<input type="submit">
		</form>

	</body>
</html>